@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

:root {
  --rose-color: #ce0f69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.a-rose {
  color: #ce0f69 !important;
}
.mb-1 {
  margin-bottom: 1rem;
}
.py-1 {
  padding: 0 1rem;
}
.px-3 {
  padding: 3rem 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-1 {
  padding: 0.5rem 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn-rose-back {
  background-color: var(--rose-color);
  color: #fff;
}
img {
  width: 100%;
  object-fit: cover;
}

.header {
  background: #383838;
  color: #fff;
  justify-content: center;
  display: flex;
  padding: 2rem 0;
  font-size: 1.2rem;
}

.btn-form {
  background-color: var(--rose-color);
  color: #fff;
}

.pagination > .page-item {
  cursor: pointer;
}

.upload-cover > form > .form-control {
  border: unset;
  padding: 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header .btn {
  padding: 0.2rem 0.5rem;
}

.card-title {
  margin-top: unset !important;
  margin-bottom: 1rem !important;
}
.card-text {
  margin-bottom: 1rem !important;
}

.girl-button-marker {
  height: 50px;
  width: 50px;
  border: none;
  background: none;
}

.girl-button-marker-icon {
  font-size: 300%;
  color: rgb(206, 15, 105);
}

.girl-popup-age {
  font-weight: 400;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  width: 300px;
  overflow-x: hidden;
}

.testing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 10px;
}

.notification-dropdown {
  margin-top: 0.9em;
}

.notification-item .alert {
  margin: 0;
}

.notification-dropdown {
  background-color: transparent !important;
  border: none;
}

.notification-button {
  margin: 5px;
}

.counter.counter-lg {
  position: absolute;
  top: 2px !important;
}
