@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  width: 100%; 
  object-fit: cover;
}

.header {
  background: #383838;
  color: #fff;
  justify-content: center;
  display: flex;
  padding: 2rem 0;
  font-size: 1.2rem;
}
