/* NAVBAR */

.navbar-collapse {
  flex-grow: 0;
}

.navbar > .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item:nth-child(5) {
  margin-right: 0;
}

.navbar-expand-sm .navbar-nav .nav-link {
  color: #333;
}

.bg-dark {
  background-color: #2b2b2b !important;
  border-bottom: 1px solid #2f2929;
}
.navbar-dark .navbar-toggler {
  border-color: transparent;
}
button:focus {
  outline: unset;
}
.navbar-toggler {
  padding: 0;
}
.navbar-toggler-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}
.navbar-dark .navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler[aria-expanded='false'] {
  background: url('../img/bars-solid.svg') no-repeat center center;
}

.navbar-toggler[aria-expanded='true'] {
  background: url('../img/times-solid.svg') no-repeat center center;
}

.navbar-brand {
  width: 11rem;
}

.active {
  border-bottom: 2px solid #acdacf;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav .nav-link:hover {
  color: rgba(47, 25, 25, 0.95);
}

.navbar-brand {
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.rose-border {
  border: 2px solid var(--rose-color);
  border-radius: 5px;
}

#search-text {
  display: none;
}

.search-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 14rem;
  align-items: center;
}
.search-bar input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: transparent;
  border-bottom-width: 1px;
  background-color: #2b2b2b;
}
.search-bar input:focus {
  outline: unset;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.search-bar .small-size {
  opacity: 0;
  z-index: -1;
}
.icons {
  display: flex;
}
.icons a {
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  .navbar-brand {
    order: 1;
  }
  .search-bar {
    margin-right: 0 !important;
    order: 1;
    width: unset;
    border-left: 1px solid #2f2424;
    border-bottom: 1px solid #2f2424;
    padding: 1.6rem 0.7rem;
  }
  .search-bar .big-size {
    display: none;
  }
  .search-bar .small-size {
    opacity: 1;
    z-index: 1;
  }

  .search-bar input {
    display: none;
  }

  .button-collapse {
    padding: 1.8rem 0.7rem;
    border-right: 1px solid #2f2424;
    border-bottom: 1px solid #2f2424;
  }
  .navbar-collapse {
    order: 1;
    text-align: center;
    padding: 1rem;
  }

  .navbar-nav {
    margin-left: unset !important;
  }
  .nav-item {
    margin-left: 0;
    width: max-content;
    margin: auto;
  }

  .nav-item:nth-child(5) {
    margin-right: auto !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding: 0.6rem;
  }
  .header {
    font-size: 1rem;
  }
}
