strong {
  line-height: 40px !important;
}

.badge {
  background-color: var(--rose-color);
  color: #fff;
}

.time {
  color: #2b2b2b;
  font-weight: normal;
  font-size: 150%;
  line-height: 30px;
}

.pricing {
  color: var(--rose-color);
  font-weight: normal;
  font-size: 250%;
}

.description {
  font-style: italic;
  color: #86898c;
}

.full {
  color: #fff;
  background-color: var(--rose-color);
  border: 1px solid var(--rose-color);
}

.full:hover {
  color: #fff;
  background-color: var(--rose-color);
  border: 1px solid var(--rose-color);
}

.empty {
  color: var(--rose-color);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.075);
}

.empty:hover {
  background-color: #484848;
  color: #fff;
  border: 1px solid #484848;
}

.right-icon {
  margin-left: 5px;
}
